@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,600,700,900');

.body{
    font-family: "Poppins";
    background-color: #ffffff;
}


/* service */
.heading{
    padding-bottom: 20px;
}
.heading h1{
    font-size: 40pt;
    font-weight: bold;
    color: #2A2A2A;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;

}
.heading p{
    text-align: center;
    color: #8A8FA3;
    font-size: 16pt;
}
.card{
    box-shadow: 2px 2px 5px rgb(0,0,0,.1);
    margin: .5rem;
}
.card-title{
    font-size: 18pt;
    font-weight: 800;
    color: #2A2A2A;
    height: 30px;
}
.card-text-title{
    font-size: 16pt;
    color: #8A8FA3;
    height: 150px;
}
.card-icon{
    color: #754EF9;
}
.filter-purple{
    filter: invert(39%) sepia(65%) saturate(5675%) hue-rotate(241deg) brightness(99%) contrast(97%);
}
/* end */

/* parallax */
.parallax{
    background-image: url(../Asset/Img/CTA\ bg.jpg);
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
}
.bg-cover{
    background-color: #754EF9bb;
}
.parallax h1{
    font-weight: bold;
}
.btn-download{
    background-color: #ffffff;
    color: #754EF9bb;
    border: 1px solid #d1dafa;
    padding: 12px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 15px;
    font-weight: bold;
}
.btn-download:hover{
    background-color: #3c2781;
    color: white;
    border: none;
}
.btn-cv{
    background-color: transparent;
    color: white;
    border: 1px solid #d1dafa;
    padding: 12px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 15px;
    font-weight: bold;
}
.btn-cv:hover{
    background-color: #3c2781;
    color: white;
    border: none;
}

/* end */